def functionname(parameters):
    st1
    st2
    st3
    st3
    return

In [1]:
for var in range(1,11):
    print('*'*var,end='')

*******************************************************

In [2]:
def greet(name):
    print('hello ' + name + ' Good morning')

In [3]:
greet('ajay')

hello ajay Good morning

In [4]:
def greeting(name):
    print('hello ' + name + ' Good morning')
    return 'sab bdya hai'

In [5]:
greeting('nikhil')

hello nikhil Good morning

'sab bdya hai'

In [6]:
a = greeting('ajay')

hello ajay Good morning

In [7]:
a

'sab bdya hai'

In [8]:
def add(x,y):
    return x+y

In [9]:
add('sachin','python')

'sachinpython'

In [10]:
add(5,6)

11

In [11]:
add([1,2,3,4,5,6],[9,4,8,3,6,3])

[1, 2, 3, 4, 5, 6, 9, 4, 8, 3, 6, 3]

In [13]:
add(1,3)

4

In [16]:
def eve_odd(num):
    if num % 2 :
        return 'odd'
    else:
        return 'even'

In [17]:
eve_odd(9)

'odd'

In [18]:
eve_odd(8)

'even'

In [23]:
def great(x,y,z):
    if x>=y and x>=z:
        print('this is greatest')
        return x
    elif y>=z:
        print('this is greatest')
        return y
    else:
        print('this is greatest')
        return z

In [24]:
great(5,6,7)

this is greatest

7

In [25]:
def star(num):
    for var in range(1,num):
        print('*'*(num-var))

In [27]:
star(10)

*********
********
*******
******
*****
****
***
**
*

In [5]:
def ncount(seq,item):
    lettercount = 0
    print(seq)
    for var in seq:
        if var == item:
            print('^',end='')
            lettercount += 1
        else:
            print(' ',end='')
        
    return lettercount

In [6]:
ncount('tajmahal','a')

tajmahal
 ^  ^ ^

3

In [14]:
unit = int(input('enter the units :'))

if unit <= 50 :
    bill = unit*0.5+unit*20/100
    print(bill)

enter the units :45
31.5

In [15]:
def count(seq,item):
    l = 0
    for var in seq:
        if var == item:
            l += 1
    return l

In [16]:
count('abanana','a')

4

In [17]:
def star(num):
    for var in range(num):
        print(' '*(num-var)+'* '*var)

In [18]:
star(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [24]:
l= [1,2,3,3,3,4,5,5,6,6,5,6,4,3,3,4,5,6]

In [25]:
def rem(seq,item):
    count = seq.count(item)
    for var in range(count):
        seq.remove(item)
        
    return seq

In [26]:
rem(l,6)

[1, 2, 3, 3, 3, 4, 5, 5, 5, 4, 3, 3, 4, 5]

In [9]:
def greeting(name):
    print('this is my function')
    return 'hello '+ name + ' how r you'
    print('thanq for using my function')

In [10]:
a = greeting('ajay')

this is my function

In [11]:
a

'hello ajay how r you'

In [12]:
a = [[]]*5

In [14]:
a[0].append(10)
a[1].append(20)
a[3].append(30)

In [13]:
[9]*5

[9, 9, 9, 9, 9]

In [15]:
a

[[10, 20, 30], [10, 20, 30], [10, 20, 30], [10, 20, 30], [10, 20, 30]]

In [16]:
b = [['ajay'],['sachin'],['kushal']]

In [17]:
b[0].append('yashi')
b[1].append('nikita')
b[2].append('nadini')

In [18]:
b

[['ajay', 'yashi'], ['sachin', 'nikita'], ['kushal', 'nadini']]

In [31]:
def mysq(num):
    r = 1
    for var in num:
        r = var ** 2
        yield r

In [32]:
o = [1,2,3,4,5,6,7,8,9,10]

In [37]:
a = mysq(o)

In [35]:
print(*a)

1 4 9 16 25 36 49 64 81 100

In [38]:
for var in a:
    print(var)

1
4
9
16
25
36
49
64
81
100

# Types of parameter
* positional parameter
* default parameter
* variable length parameter
* keywords parameter

In [39]:
# default parameter + positional parameters

In [40]:
def add(a,b=0,c=0):
    return a+b+c

In [41]:
add(1,2,3)

6

In [42]:
add(c=7,b=8,a=9)

24

In [44]:
add(8,c=8,b=9)

25

In [46]:
# keywords argument
def mysum(*args):
    result = 1
    for var in args:
        result = result*var
    return result

In [47]:
mysum(1,2,3,4,5)

120

In [49]:
mysum(1,2,3,4,5,6,7,8,8,7,6,4,3,4,5,6,7,8,6,5,7,6,5)

6882573680640000

In [50]:
print('line')

line

In [52]:
dic ={'name':'python','creator':'guidovanrossum','version':3.7}

In [55]:
dic

{'name': 'python', 'creator': 'guidovanrossum', 'version': 3.7}

In [69]:
def printdic(**kwargs):     # keywords argument
    for key,value in kwargs.items():
        print(f'{key}  == {value}')

In [72]:
printdic(**dic)

name  == python
creator  == guidovanrossum
version  == 3.7

In [73]:
printdic(name='ajay',study='python',python='3,7')

name  == ajay
study  == python
python  == 3,7

In [74]:
def myfunc(*args,**kwargs):
    for var in args:
        print('these are arguments --> ',var,sep='  ')
        
    for key,value in kwargs.items():
        print('these are keywords args ---> ',key,value,sep=' == ')

In [75]:
myfunc(1,2,3,4,5,6,6,8,8,9,name='ajay',class_='python',batch='weekly11am')

these are arguments -->   1
these are arguments -->   2
these are arguments -->   3
these are arguments -->   4
these are arguments -->   5
these are arguments -->   6
these are arguments -->   6
these are arguments -->   8
these are arguments -->   8
these are arguments -->   9
these are keywords args --->  == name == ajay
these are keywords args --->  == class_ == python
these are keywords args --->  == batch == weekly11am

# Anonymous function

In [76]:
def add(x,y):
    return x+y

In [77]:
add(5,6)

11

In [78]:
x = lambda y,u  : y+u

In [79]:
x(9,8)

17

In [80]:
mul = lambda x,y : x*y 
mul(6,7)

42

In [81]:
even = lambda x : 'even' if x%2==0 else 'odd'

In [82]:
even(7)

'odd'

In [83]:
even(9)

'odd'

In [84]:
even(2)

'even'

In [90]:
t = lambda x,y,z : 'x is greater' if x >= y and x >= z else \
('y is greater' if y >=z else 'z is greater')

In [91]:
t(5,6,7)

'z is greater'

In [92]:
t(9,8,7)

'x is greater'

In [93]:
t(7,9,8)

'y is greater'

In [95]:
li = [var for var in range(1,21)]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [98]:
mysq = list(map(lambda x : x**2 ,li))

In [100]:
print(mysq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [101]:
import random

In [102]:
rand = [random.randint(1,1000) for var in range(1,201)]

In [103]:
even = list(filter(lambda c : c%2==0 ,rand))
odd = list(filter(lambda y : y%2 ,rand))

print(even,odd,sep='\n\n')

[52, 656, 634, 240, 476, 402, 612, 160, 60, 554, 724, 36, 838, 780, 118, 104, 156, 214, 466, 106, 914, 448, 260, 398, 64, 428, 614, 308, 572, 742, 214, 814, 368, 558, 562, 74, 688, 314, 128, 244, 114, 396, 776, 994, 502, 284, 172, 598, 434, 656, 880, 334, 938, 566, 376, 10, 160, 210, 46, 44, 948, 556, 184, 870, 844, 580, 600, 614, 514, 574, 298, 914, 56, 606, 96, 216, 998, 390, 800, 534, 288, 508, 772, 790, 666, 424, 752, 862, 210, 310, 740, 668, 476, 356, 962]

[733, 651, 59, 223, 849, 17, 845, 905, 379, 611, 997, 565, 859, 363, 461, 605, 453, 951, 597, 839, 891, 525, 57, 709, 113, 515, 121, 421, 955, 469, 271, 589, 687, 975, 147, 239, 61, 991, 185, 667, 445, 931, 663, 607, 487, 353, 695, 483, 613, 109, 969, 511, 759, 651, 765, 405, 639, 39, 737, 255, 753, 153, 313, 47, 595, 485, 655, 363, 585, 535, 9, 575, 359, 697, 651, 459, 875, 361, 29, 819, 189, 663, 171, 953, 603, 461, 319, 873, 955, 429, 637, 505, 325, 851, 761, 7, 993, 507, 157, 965, 439, 993, 657, 451, 847]

In [104]:
h = list(map(lambda x : x%2==0 ,rand))
h

[False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True]

In [105]:
from functools import reduce

In [107]:
len(rand)

200

In [108]:
ms = reduce(lambda x,y : x+y  ,rand)
print(ms)

101261

In [109]:
sum(rand)

101261